/* .checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
} */

.checkout {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

.checkout__left {
    flex: 0.7;
    padding: 20px;
  }
  
  .checkout__title {
    margin-bottom: 10px;
  }
  
  .checkout__right {
    flex: 0.3;
  }