.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info > button {
    background: #8CEADE;
    border: 1px solid;
    margin-top: 10px;
    border-color: #5CAEBC;
    color: #111;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

